<div id='article-list'><h1>Listing articles</h1>

<table cellpadding="5" cellspacing="0">
  <tr>
    <th>Headline</th>
    <th>Byline</th>
    <th>Rel date</th>
    <th>Author</th>
    <th>Body</th>
  </tr>

<% @articles.each do |article| %>
<tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td><%= link_to article.headline, article %></td>
    <td><%=h article.byline %></td>
    <td><%=h article.rel_date %></td>
    <td><%=h article.author %></td>
    <td class="list-line-body"><%=h article.body %></td>
  <td class="list-actions">
    <%= link_to 'Show', article %><br/>
    <%= link_to 'Edit', edit_article_path(article) %></br>
    <%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %>
   </td>
  </tr>
<% end %>
</table></div>

<br />

<%= link_to 'New article', new_article_path %>
